<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/MainBody.html}">
<nav layout:fragment="header" class="navbar navbar-main navbar-expand-lg px-0 mx-3 shadow-none border-radius-xl"
     id="navbarBlur" data-scroll="true">
  <div class="container-fluid py-1 px-3">
    <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4  justify-content-end" id="navbar">
      <ul class="navbar-nav d-flex align-items-center justify-content-end">
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link text-body font-weight-bold px-0">
            <i class="material-symbols-rounded">account_circle</i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
