<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Body.html}">
<div layout:fragment="content" class="page-header min-vh-100">
    <div class="container">
        <div class="row  mt-5">
            <div class="col-xl-12 col-lg-12 col-md-12 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-12">
                <div class="card" style="backgroud-color : white">
                    <div class="card-header">
                        <h4 class="font-weight-bolder" th:text="#{index.signUp}">Sign Up</h4>
                    </div>
                    <div class="card-body">
                        <form id="signup-form" role="form" th:object="${signupForm}"
                              th:action="|${@securityConfig.saveMemberApi()}|" method="POST">
                            <div class="row">
                                <div class="col-md-6">
                                    <div th:if="${#fields.hasGlobalErrors()}">
                                        <p class="text-danger field-error" th:each="err : ${#fields.globalErrors()}"
                                           th:text="${err}">
                                            글로벌 오류 메시지
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-outline mb-3"
                                         th:classappend="${(#fields.hasErrors('userId') ? 'is-invalid ' : 'is-valid') + (#fields.hasErrors() ? ' is-filled' : '')}">
                                        <label class="form-label" th:for="*{userId}"
                                               th:text="#{index.signUp.userId}">사용자
                                            ID</label>
                                        <input type="text" class="form-control"
                                               th:field="*{userId}"
                                               th:classappend="${#fields.hasErrors('userId')} ? 'is-invalid' : 'is-valid'">
                                        <div class="invalid-feedback" th:errors="*{userId}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-outline mb-3"
                                         th:classappend="${(#fields.hasErrors('email') ? 'is-invalid ' : 'is-valid ') + (#fields.hasErrors() ? ' is-filled' : '')}">
                                        <label class="form-label" th:for="*{email}"
                                               th:text="#{index.signUp.email}">이메일</label>
                                        <input type="text" class="form-control" th:field="*{email}"
                                               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : 'is-valid'"
                                        >
                                        <div class="invalid-feedback" th:errors="*{email}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-outline mb-3"
                                         th:classappend="${(#fields.hasErrors('name') ? 'is-invalid ' : 'is-valid ') + (#fields.hasErrors() ? ' is-filled' : '')}">
                                        <label class="form-label" th:for="*{name}" th:text="#{index.signUp.name}">사용자
                                            이름</label>
                                        <input type="text" class="form-control" th:field="*{name}"
                                               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : 'is-valid'"
                                        >
                                        <div class="invalid-feedback" th:errors="*{name}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-outline mb-3"
                                         th:classappend="${(#fields.hasErrors('password') ? 'is-invalid ' :'') + (#fields.hasErrors() ? ' is-filled' : '')}">
                                        <label class="form-label" th:for="*{password.password}"
                                               th:text="#{index.signUp.password}">비밀번호</label>
                                        <input type="password" class="form-control" th:errorclass="field-error"
                                               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'"
                                               th:field="*{password.password}">
                                        <div class="invalid-feedback" th:errors="*{password}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-outline mb-3"
                                         th:classappend="${(#fields.hasErrors('passwordConfirm') ? 'is-invalid ' : '') + (#fields.hasErrors() ? ' is-filled' : '')}">
                                        <label class="form-label" th:for="*{password.passwordConfirm}"
                                               th:text="#{index.signUp.passwordConfirm}">비밀번호
                                            확인</label>
                                        <input type="password" class="form-control" th:errorclass="field-error"
                                               th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'is-invalid'"
                                               th:field="*{password.passwordConfirm}">
                                        <div class="invalid-feedback" th:errors="*{passwordConfirm}"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-check form-check-info text-start ps-0">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                                       checked>
                                <label class="form-check-label" for="flexCheckDefault">
                                    I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms
                                    and
                                    Conditions</a>
                                </label>
                            </div>
                            <div class="text-center">
                                <button type="submit"
                                        class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">
                                    Sign Up
                                </button>
                            </div>
                    </div>
                </div>
                </form>
            </div>
            <div class="card-footer text-center pt-0 px-lg-2 px-1">
                <p class="mb-2 text-sm mx-auto">
                    Already have an account?
                    <a href="/" class="text-primary text-gradient font-weight-bold">Sign in</a>
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<!--    <script>-->

<!--        let isEmailVerified = false;-->

<!--        $(function () {-->

<!--            $('#verify-email').on('click', function (e) {-->

<!--                sendFetchRequest('POST', '/verify/email', {-->
<!--                    email: $('#email').val(),-->
<!--                });-->
<!--            });-->


<!--            $('#edit-profile').on('submit', function (e) {-->
<!--                e.preventDefault();-->

<!--                const jsonObject = {-->
<!--                    id: $('#id').val(),-->
<!--                    email: $('#email').val(),-->
<!--                    name: $('#name').val(),-->
<!--                    password: $('#password').val(),-->
<!--                    passwordConfirm: $('#passwordConfirm').val(),-->
<!--                    phoneNumber: $('#phoneNumber').val(),-->
<!--                    role: $('#role').val(),-->
<!--                    isEmailVerified: isEmailVerified-->
<!--                };-->

<!--                sendFetchRequest('POST', '/members', jsonObject, () => {-->
<!--                    isEmailVerified = false;-->
<!--                    $('#verify-code').val("");-->
<!--                });-->


<!--            });-->

<!--            $('#check-verify-email').on('click', function () {-->

<!--                sendFetchRequest('POST', '/check/email/code', {-->
<!--                    email: $('input[name="email"]').val(),-->
<!--                    verifyCode: $('input[name="verify-code"]').val(),-->
<!--                }, () => {-->
<!--                    isEmailVerified = true;-->
<!--                });-->

<!--            });-->
<!--        });-->
<!--    </script>-->
</div>


</html>
