<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/Body.html}">
<div layout:fragment="content" class="page-header min-vh-100">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
        <div class="card" style="backgroud-color : white">
          <div class="card-header">
            <h4 class="font-weight-bolder">Sign Up</h4>
            <p class="mb-0">Enter your email and password to register</p>
          </div>
          <div class="card-body">
            <form id="signup-form" role="form" th:object="${signupForm}" th:action="|${@securityConfig.saveMemberApi()}|" method="POST">
              <div class="input-group input-group-outline mb-3">
                <input type="text" class="form-control" th:field="*{name}" placeholder="name">
                <input type="hidden" th:field="*{role}"/>
              </div>
              <div class="input-group input-group-outline mb-3">
                <input type="text" class="form-control" th:field="*{userId}" placeholder="id">
              </div>
              <div class="input-group input-group-outline mb-3">
                <input type="email" class="form-control" th:field="*{email}" placeholder="email">
                <button type="button" class="btn btn-outline-secondary ms-2 btn-sm valid-tooltip" style="margin:0" id="verify-email">
                  인증
                </button>
              </div>
              <div class="input-group input-group-outline mb-3">
                <input type="text" class="form-control" placeholder="인증번호 입력" id="verify-code">
                <button type="button" class="btn btn-outline-secondary ms-2 btn-sm valid-tooltip" style="margin:0" id="check-verify-email">
                  확인
                </button>
              </div>
              <div class="input-group input-group-outline mb-3">
                <input type="password" class="form-control" th:field="*{password}"
                       placeholder="password">
              </div>
              <div class="input-group input-group-outline mb-3">
                <input type="password" class="form-control" th:field="*{passwordConfirm}"
                       placeholder="password check">
              </div>
              <div class="input-group input-group-outline mb-3">
                <input type="text" class="form-control" th:field="*{phoneNumber}"
                       placeholder="phone number">
              </div>
              <div class="form-check form-check-info text-start ps-0">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                       checked>
                <label class="form-check-label" for="flexCheckDefault">
                  I agree the <a href="javascript:;" class="text-dark font-weight-bolder">Terms and
                  Conditions</a>
                </label>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">
                  Sign Up
                </button>
              </div>
            </form>
          </div>
          <div class="card-footer text-center pt-0 px-lg-2 px-1">
            <p class="mb-2 text-sm mx-auto">
              Already have an account?
              <a href="/" class="text-primary text-gradient font-weight-bold">Sign in</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>

    let isEmailVerified = false;

    $(function() {

      $('#verify-email').on('click', function(e){

        sendFetchRequest('POST', '/verify/email', {
          email: $('#email').val(),
        });
      });



      $('#edit-profile').on('submit', function(e) {
        e.preventDefault();

        const jsonObject = {
          id: $('#id').val(),
          email: $('#email').val(),
          name: $('#name').val(),
          password: $('#password').val(),
          passwordConfirm: $('#passwordConfirm').val(),
          phoneNumber: $('#phoneNumber').val(),
          role: $('#role').val(),
          isEmailVerified: isEmailVerified
        };

        sendFetchRequest('POST', '/members', jsonObject, () =>{
          isEmailVerified = false;
          $('#verify-code').val("");
        });


      });

      $('#check-verify-email').on('click',function(){

        sendFetchRequest('POST', '/check/email/code', {
          email: $('input[name="email"]').val(),
          verifyCode: $('input[name="verify-code"]').val(),
        },() =>{
          isEmailVerified = true;
        });

      });
    });
  </script>
</div>


</html>
